/* -----tags----- */



/* -----classes----- */

.top-logo {
    background-color: #000;
}

.top-logo img {
    width: 8%;
}

.main-banner {
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.mainb-text img {
    width: auto;
}

.mainb-text {
    padding: 350px 30px 30px;
}

.game-slides .row img {
    width: 100%;
    border-radius: 30px;
}

.devices img {
    width: 100%;
}

.sec-banner {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.secb-text img {
    width: 60%;
}

.new-releases {
    background-color: #1F1F1F;
}

.new-releases .row div img {
    width: 100%;
    border-radius: 20px;
}

.ps4-text {
    width: 50%;
    margin: 0 auto;
}

.ps4-gadgets .row div img {
    width: 100%;
}

.ps-plus {
    background-color: #BEBCBB;
}

.ps-plus .row .plus-banner img {
    width: 100%;
}

.plus-text img {
    width: 40%;
}
/* -----buttons----- */

.orange-bt {
    background-color: #CD3D0F;
    color: #FFF;
    font-weight: bold;
    padding: 10px;
    border: 0px;
    border-radius: 40px;
}

.blue-bt {
    background-color: #2D64E6;
    color: #FFF;
    font-weight: bold;
    padding: 10px;
    border: 0px;
    border-radius: 40px;
}

.white-bt {
    background-color: #D9DADC;
    color: #376BE5;
    font-weight: bold;
    padding: 10px;
    border: 0px;
    border-radius: 40px;
}


.bbl {
    background-color: blue;
}